.ui-button {
  padding: 1rem 2rem;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-size: var(--normal);
  min-width: 10rem;
  transition: opacity 180ms ease-out, transform 180ms ease-out;
}

.ui-button:hover {
  opacity: 0.8;
}

.ui-button:active {
  transform: translate(1px, 1px);
}

.ui-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-radius: 0 0 3px 0;
}

.btn-secondary {
  background-color: var(--secondary);
  border-radius: 0 0 3px 0;
}

.btn-outline {
  border: 1px solid var(--dark);
  color: var(--dark);
}

.btn-small {
  min-width: 0;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: var(--small);
}

.btn-middle {
  min-width: 10rem;
}

.btn-delete {
  margin-top: 5px;
  font-size: var(--small);
  text-align: center;
  padding: 0.2rem;
}

.login-btn {
  margin: 20px;
}
