* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  color: #333;
  margin: 3rem;
}

:root {
  --primary: #4caf50;
  --secondary: #ffc107;
  --light-gray: #dadce0;
  --dark: #222;

  --big: 4.5rem;
  --normal: 2.5rem;
  --small: 1.5rem;
}

h2 {
  font-size: var(--big);
  margin-bottom: 5rem;
}
