.product {
  background-color: var(--light-gray);
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.product img {
  width: 10rem;
  padding: 1rem 2rem 1rem 1rem;
}

.product-info h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: var(--normal);
  font-weight: normal;
}

.product-info p {
  font-size: var(--small);
  margin-top: 1rem;
}

.product-buttons {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.product-sub:disabled {
  opacity: 0.5;
  cursor: default;
}

.product-count {
  margin: 0;
  font-weight: normal;
  font-size: var(--small);
}
